.about {
  color: black;

  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.i1 {
  background-color: #feda6a;
  color: #1d1e22;
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  font-family: "Beau Rivage";
  .header {
    font-family: "Dancing Script", cursive;
  }
  .tagline {
    font-family: "Dancing Script", cursive;

    font-size: 25px;
  }
}
.i2 {
  font-size: 20px;

  height: 75vh;
  background-color: #39cccc;
  font-family: "Dancing Script", cursive;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}
.i3 {
  font-size: 25px;
  height: 80vh;
  background-color: #3d9970;
  font-family: "Dancing Script", cursive;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mission {
  font-size: 25px;
}

.vec1 {
  padding-left: 10rem;
  padding-top: 4.5rem;
  height: 500px;
  width: 500px;
}
.vec2 {
  padding-top: 3rem;
  height: 500px;
  width: 500px;
}
.mg {
  display: flex;
  flex-direction: column;

  .mission {
    font-size: 30px;
  }
}
.emp-anim {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}
.emp-anim-a {
  color: #111;
  font-size: 30px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emp-anim-b {
  color: #111;
  font-size: 30px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emp-anim-c {
  color: #111;
  font-size: 30px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
