.login-form {
  font-family: "Dancing Script", cursive;

  padding: 1.5rem;
}
.elsebutton {
  display: flex;
  justify-content: space-between !important;
}
.or {
  margin-left: 43%;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
}
.forgot {
  margin-left: 60%;
  font-size: 15px;
}
.loginButton {
  padding-left: 0%;
}
