.dept-details {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
}

.dept-form {
  padding: 2rem;
  position: absolute;
  height: 25vh;
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.6rem;
  border: 0.01rem solid #dadce0;
}
.dept-form-button {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}
