.table {
  position: relative;
  min-width: 90vw;
  min-height: 100vh;
}
.tablecard {
  width: 100vw;
  height: 150vh;
  margin-top: 8rem;
  padding-bottom: 5rem;
  position: absolute;
}
.card-header {
  padding-bottom: 5rem;
  position: absolute;
}
.card-welcome {
  position: relative;
}
.card-footer {
  // padding-top: 5rem;
}
.tableimge {
  width: 100vw;
  height: 100vh;
}
