.emp-details {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .type {
    display: flex;
    flex-direction: column;

    .checkBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .emp-form {
    position: absolute;
    height: 80vh;
    width: 35vw;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border-radius: 0.6rem;
    // border: 0.01rem solid #dadce0;
  }
  .emp-form {
    padding: 1rem;
  }
  .name {
    display: flex;
    justify-content: space-between;
  }
}
h3,
h6 {
  height: 0.01rem;
}
.note {
  font-size: 12px;
}
