.Contact-area {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 50vw;
}
th,
td {
  border: 1px solid #dcdcdc;
  padding: 15px;
}
