// .copyright {
//   width: 100%;
//   height: 8vh;
//   margin: 10vh 0vw 0vh 0vw;
//   background-color: #2e1d1e;
//   color: azure;

//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.footer {
  background-color: #161f1e;
  display: flex;
  flex-direction: column;
  padding: 4vw 6vw;
}

.footer-bottom {
  margin-bottom: 3vw;
  color: hsla(0, 0%, 100%, 0.75);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-data {
  padding-bottom: 15px;
}

.footer-data {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
}

.footer-content {
  margin-left: 8vw;
}
